html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    /** background: url('../../imgs/background.png'); */
    /** background: url('../../imgs/background.png') no-repeat; */
    /** background-size: cover; */
    color: white;
    /** background-attachment: fixed; */
    /** font-size: 2rem; */
}

.background-fixed {
    background: url('../../imgs/background.png') no-repeat;
    background-size: cover;
    height: 100vh;
    /** position: absolute; */
    width: 100%;
    position: fixed;
    z-index: 1;
}

.wrapper {
    position: relative;
    z-index: 2;
}