@import url('./base/_reset.css');
@import url('./base/_fonts.css');
/* Poderia importar para aqui a outra opção de importar fonts diretamente do google-fonts.
basta apenas ir ao google-fonts escolher a fonte desejada e em vez do download clicar no icon ao lado e assinalar a opção "@import", depois é só copiar apenas o @import que la está e copiar aqui, conforme abaixo...
Mas como já importei para o "head" do index.html os links necessários, vou aqui apenas deixar comentado... */
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*/